# In-Class Exercises, Session 3

PLEASE REFER to pythonreference.com for syntax to follow in coding these Exercises

NOTE THAT the data files read from these exercises is located in the "parent" directory.  Thus any filename in these exercises should be preceded with <B>../</B>.  (If you create a script in the same directory as the data file, this would not be necessary.)

STRINGS

<B>3.1:  <B><U>String operations</U>.</B>  </B>

Perform the noted operations on strings 'sentence' and 'csv\_line':

In [ ]:
sentence = 'Hello  there   treasured  Python friends.'
csv_line = 'California,31,39.51,3200\n'


# use len() to determine the length of 'sentence'


# strip csv-


# strip 'sentence' of the period, then split into a list of 5 words


# split 'csv_line' into a list of 4 fields


# strip 'csv_line' of a newline, then split into 4 fields


# use variables to slice the first 5 characters
start_index = 0
end_index = 5


# special demo:  loop through a string?!
s = 'Hi there.'

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">40
['Hello', 'there', 'treasured', 'Python', 'friends.']
['California', '31', '39.51', '3200\n']
['California', '31', '39.51', '3200']
Calif
Calif
H
i

t
h
e
r
e
.</DIV></pre>

LISTS

<B>3.2:  <B><U>List operations</U>.</B>  </B>

Perform the noted operations on list 'x'

In [ ]:
x = ['hello', 'there', 'Python', 'friends']


# print the type of the list (use type())



# show the length of the list (use len())



# access and print the first item of the list (use list subscript)



# access and print the last item of the list (use negative subscript)



# use a variable index to print the last item
last_idx = -1



# loop through and print each individual item in the list (use 'for')



print()

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">&lt;class 'list'&gt;
hello
friends
4

hello
there
Python
friends</DIV></pre>

LAB 1

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.3:  <B><U>Print item from a delimited string</U>.</B>  </B></div>

Select and print the value <B>39.51</B>.  Do not use a slice.

In [ ]:
delimited = 'New York,31,39.51,3200'

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">39.51</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.4:  <B><U>Select number from a delimited string, use as number</U>.</B>  </B></div>

Select the value <B>31</B>, then double it to <B>62</B>

In [ ]:
delimited = 'New York,31,39.51,3200'

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">62</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.5:  <B><U>Print a word from undelimited string</U>.</B>  </B></div>

Print the word <B>best</B> from <B>dickens</B>.  Then print <B>times</B> with the trailing comma stripped.

In [ ]:
dickens = 'It was the best of times, it was the worst of times.'

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">best
times</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.6:  <B><U>Determine number of words in a string</U>.</B>  </B></div>

In just two additional statements (not including printing), show the number of words in the string.

In [ ]:
swanns_way = 'For a long time I used to go to bed early.'

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">11</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.7:  <B><U>Show selected words from a string</U>.</B>  </B></div>

Print the 1st word in the setence, the 5th word in the sentence, and the last word in the sentence.

In [ ]:
gatsby = "In my younger and more vulnerable years my father gave me some advice..."

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">In
more
advice...</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.8:  <B><U>Loop through words from a string</U>.</B>  </B></div>

Print each word from this string on a separate line.

In [ ]:
moby = 'Call me Ishmael.'

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Call
me
Ishmael.</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.9:  <B><U>Slice part of a string</U>.</B>  </B></div>

Print the numeric SKU value from <B>serial</B>.

In [ ]:
serial = '#SKU000095327 MRCOFFEE 8CUP CAPUC'

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">000095327</DIV></pre>

FILES

<B>3.10:  <B><U>List iteration and summary</U>.</B>  </B>

Use 'for' to loop through list 'xval' and count the number of iterations, then extend it to also sum up the values.  Print the sum and the count.

In [ ]:
xval = [3.9, 0.3, 2.1, 0.03]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">4
6.33</DIV></pre>

<B>3.11:  <B><U>File operations</U>.</B>  </B>

Perform the below operations:

In [ ]:
filename = '../pyku.txt'



# open file 'pyku.txt' and assign to variable 'fh' (use open())



# print the type of variable 'fh'


print()

# iterate over the variable 'fh' with 'for' and print each line in the file

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">&lt;class '_io.TextIOWrapper'&gt;

We're out of gouda.

This parrot has ceased to be.

Spam, spam, spam, spam, spam.</DIV></pre>

LAB 2

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.12:  <B><U>Loop through file and print</U>.</B>  </B></div>

Loop through the file <B>pyku.txt</B> and print each line as you go.  You should see a blank line between each printed line (this is the newline character).

In [ ]:
filename = '../pyku.txt'

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">We're all out of gouda.

This parrot has ceased to be.

Spam, spam, spam, spam, spam.
</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.13:  <B><U>Loop through file and strip</U>.</B>  </B></div>

Loop through the file <B>pyku.txt</B> and strip each line as you go.  You should see the lines printed without a blank line in between.

In [ ]:
filename = '../pyku.txt'

fh = open(filename)

for line in fh:
    # your code here

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">We're all out of gouda.
This parrot has ceased to be.
Spam, spam, spam, spam, spam.</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.14:  <B><U>Loop through file and count</U>.</B></B></div>

Loop through the file <B>pyku.txt</B> and keep a running count of each line.  Print the count at the end.

In [ ]:
filename = '../pyku.txt'

fh = open(filename)

for line in fh:
    # your code here

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">3</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.15:  <B><U>Loop through file and print one field</U>.</B>  </B></div>

Loop through <B>datafile.csv</B> and print just the first field from each line.

In [ ]:
filename = '../datafile.csv'

fh = open(filename)

for line in fh:
    # your code here

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">this
that
this
other
something</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.16:  <B><U>Loop through file and print one slice</U>.</B>  </B></div>

Print the month and day from each line in <B>FF\_tiny.txt</B>

In [ ]:
filename = '../FF_tiny.txt'

fh = open(filename)

for line in fh:
    # your code here

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">0701
0702
0103
0104
0201
0202
0103
0104
0105</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.17:  <B><U>Loop through file, isolate and double numeric value</U>.</B></B></div>

Looping through <B>datafile.csv</B>, isolate the int value (4th field) and double it, printing each doubled value as you loop.

In [ ]:
fname = '../datafile.csv'

fh = open(fname)

for line in fh:
    # your code here

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">3
1
0
4
2</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.18:  <B><U>Loop through file, isolate values and add together</U>.</B> </B></div>

Looping through <B>datafile.csv</B>, isolate the int value and float value (4th and 5th fields) and add them together, printing each summed value as you loop.

In [ ]:
name = '../datafile.csv'

fh = open(name)

for line in fh:
    # your code here

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">6.3
2.1
2.2
4.8
3.6</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.19:  <B><U>Loop through file and sum up values in column</U>.</B>  </B></div>

Looping through <B>datafile.csv</B>, sum up the last column of float values.  Print the sum at the end.

In [ ]:
fname = '../datafile.csv'

fh = open(fname)

for line in fh:
    line = line.rstrip()
    # your code here

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">9.0</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.20:  <B><U>Loop through file and selectively print using split()</U>.</B></B></div>

Looping through <B>revenue.csv</B>, print the company names for rows with 'NY' as the state.

In [ ]:
filename = '../revenue.csv'

fh = open(filename)

for line in fh:
    # your code here

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Hipster's
Dothraki Fashions
The Clothiers</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.21:  <B><U>Loop through file and selectively print using a slice</U>.</B> </B></div>

Looping through <B>FF\_tiny.txt</B>, print the last float value on each line for the year <B>1927</B>.

In [ ]:
filename = '../FF_tiny.txt'

fh = open(filename)

for line in fh:
    # your code here

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">0.015
0.011
0.022
0.018</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>3.22:  <B><U>Loop through file and sum up selected value</U>.</B>  </B></div>

Looping through <B>revenue.csv</B>, sum up the float value (3rd field) only for those rows from <B>NJ</B> (2nd field).

In [ ]:
fname = '../revenue.csv'

fh = open(fname)

for line in fh:
    line = line.rstrip()

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">265.40</DIV></pre>

SUMMARY ALGORITHM; BUILDING FROM FILE

<B>3.23:  <B><U>File line iteration and summary</U>.</B>  </B>

Use 'for' to loop through file 'revenue.csv' and count the number of iterations, then perform the operations noted below:  <U>test each step as you proceed</U>.

In [ ]:
filename = '../revenue.csv'
fh = open(filename)

counter = 0
summer = 0.0

# 1. loop through file line-by-line; strip and print each line

    # 2. count each iteration; print count at end

    # 3. split each line on a comma; print each split line

    # 4. subscript float value from split list; print each subscripted value

    # 5. convert float value (a string) to float

    # 6. sum up float values; print sum after loop ends

    # 7. adding a horizontal bar to separate iterations
    print('------------------------------')


# close file


# print sum and count

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Haddad's,PA,239.50

["Haddad's", 'PA', '239.50\n']
239.50
------------------------------
Westfield,NJ,53.90

['Westfield', 'NJ', '53.90\n']
53.90
------------------------------
The Store,NJ,211.50

['The Store', 'NJ', '211.50\n']
211.50
------------------------------
Hipster's,NY,11.98

["Hipster's", 'NY', '11.98\n']
11.98
------------------------------
Dothraki Fashions,NY,5.98

['Dothraki Fashions', 'NY', '5.98\n']
5.98
------------------------------
Awful's,PA,23.95

["Awful's", 'PA', '23.95\n']
23.95
------------------------------
The Clothiers,NY,115.20

['The Clothiers', 'NY', '115.20\n']
115.20
------------------------------
7
662.0100000000001</DIV></pre>