# In-Class Exercises, Session 4

PLEASE REFER to pythonreference.com for syntax to follow in coding these Exercises

NOTE THAT the data files read from these exercises is located in the "parent" directory.  Thus any filename in these exercises should be preceded with <B>../</B>.  (If you create a script in the same directory as the data file, this would not be necessary.)

COMMAND LINE; FILES AND DIRECTORIES

<B>4.1:  <U><B>Work with the command line</B>.</U></B>

Open an Anaconda Prompt (Windows) or a Terminal window (Mac).  (To reach the Anaconda prompt, do a search for <B>Anaconda</B> and click <B>Anaconda Prompt</B>.)
<UL>
  <LI> (Mac only) Use <B>pwd</B> to see the "present working directory"</LI>
  <LI> Use <B>ls</B> (Mac) or <B>dir</B> (Windows) to see a listing of the files and directories in this directory</LI>
  <LI> Use <B>cd</B> to move into a directory you see listed in the present working directory (for example <B>cd Downloads</B>).  Use <B>pwd</B> (Mac only) to see your changed location (Windows prompt shows the location automatically).</LI>
  <LI> Use <B>cd ..</B> to move into the "parent" directory of the one you are in (this will take you back to the parent of <B>Downlaods</B>.  Use <B>pwd</B> (Mac only) to see your changed location.</LI>
  <LI> Use <B>cd /Users/[yourhomedir]/Desktop</B> to move into the <B>Desktop</B> directory.  Use <B>pwd</B> (Mac only) to see your changed location.  ([yourhomedir] should be replaced with your home directory, no brackets.</LI>
  <LI> Use <B>cd ../Downloads</B> to move from the <B>Desktop</B> directory to the <B>Downloads</B> directory.  Use <B>pwd</B> (Mac only) to see your changed location.</LI>
  <LI> Use <B>cd</B> (Mac) or <B>cd %HOMEPATH%</B> (Windows) to move back into the home directory.  Use <B>pwd</B> (Mac only) to see your changed location.</LI>
</UL>

LISTS

<B>4.2:  <B><U>List operations</U>.</B>  </B>

Initialize a list of 5 strings.  Then perform the below operations.

In [ ]:
# initialize your list of 5 strings
mylist = ['hello', 'there', 'fine', 'Python', 'friends']



# access and print the 2nd item (use list subscript)



# access and print the last item (use negative subscript)



# slice and print the first 3 items from the list (use list slice)



# slice and print the last 3 items from the list (leave off the 'upper bound')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">there
friends
['hello', 'there', 'fine']
['Python', 'friends']
5
['Python', 'fine', 'friends', 'hello', 'there']</DIV></pre>

<B>4.3:  <B><U>List with summary functions</U>.</B>  </B>

In [ ]:
x = [3.3, 1.1, 4.4, 2.2]


# in one statement, show count of items in a list (use len())



# sum up values in the list without looping (use sum())



# show maximum value in the list (use max())



# show minimum value in the list (use min())



# show list items sorted lowest to highest (use sorted())



# show list items sorted highest to lowest (add reverse=True)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">4
11.0
4.4
1.1
[1.1, 2.2, 3.3, 4.4]
[4.4, 3.3, 2.2, 1.1]</DIV></pre>

<B>4.4:  <B><U>Use range() to count</U></B>.  </B>

Without using a counter, create a <B>for</B> loop to iterate over each integer between 0 and 5.

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">0
1
2
3
4
5</DIV></pre>

<B>4.5:  <B><U>Use range() to create a list</U></B>.  </B>

In a single statement, build a list of integers from 3 to 5.

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[3, 4, 5]</DIV></pre>

LAB 1

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.6:  Show the first 3 values in this list.  </B></div>

In [ ]:
x = [8, 1, 0, 2, 23, 4, 5, 11]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[8, 1, 0]</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.7:  Show the last 3 values in this list.  </B></div>

In [ ]:
x = [8, 1, 0, 2, 23, 4, 5, 11]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[4, 5, 11]</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.8:  Show the average of the values in this list.  </B></div>

In [ ]:
x = [8, 1, 0, 2, 23, 4, 5, 11]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">6.75</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.9:  Find highest and lowest values in a list.  </B></div>

In two simple statements (not using subscripting or <B>sorted()</B>), find the highest value and lowest value in this list.  Print each value.

In [ ]:
x = [8, 1, 0, 2, 23, 4, 5, 11]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">23
0</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.10:  Show the top 3 values in this list, sorted high-to-low.  </B></div>

In [ ]:
x = [8, 1, 0, 2, 23, 4, 5, 11]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[23, 11, 8]</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.11:  Show the bottom 3 values in this list, sorted low-to-high.  </B></div>

In [ ]:
x = [8, 1, 0, 2, 23, 4, 5, 11]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[0, 1, 2]</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.12:  Show the 3rd highest value in this list.  </B></div>

In [ ]:
x = [8, 1, 0, 2, 23, 4, 5, 11]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">8</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.13:  Show the average of the top 50% of values in this list.  </B></div>

In [ ]:
x = [8, 1, 0, 2, 23, 4, 5, 11]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">11.75</DIV></pre>

LISTS - BUILDING FROM FILE

<B>4.14:  <B><U>Initialize an empty list</U></B>.  </B>

After initializing, check its length.

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">0</DIV></pre>

<B>4.15:  <B><U>Add to a list using <B>.append()</B></U></B>.  </B>

In two statements, append two items <B>5.5</B> and <B>5.6</B> to your list, then print the entire list to show that the two items have been added.

In [ ]:
x = [3.3, 1.1, 4.4, 2.2]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[3.3, 1.1, 4.4, 2.2, 5.5, 6.6]</DIV></pre>

<B>4.16:  <B><U>Review:  loop through a list</U>.</B></B>

In [ ]:
x = [3.3, 1.1, 4.4, 2.2]

# loop through the list and print each item individually (use 'for')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">3.3
1.1
4.4
2.2</DIV></pre>

<B>4.17:  <B><U>Build a list of items from a CSV file</U>.</B>  </B>

Begin by reviewing and running the below code.  Taking a look at file <B>revenue.csv</B>, build up a list of the float values in that file.

In [ ]:
fh = open('../revenue.csv')

fvals = []

for line in fh:
    line = line.rstrip()
    items = line.split(',')
    print(items)


fh.close()

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[239.5, 53.9, 211.5, 11.98, 5.98, 23.95, 115.2]</DIV></pre>

LAB 2

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.18:  Review:  loop through a file.  </B></div>

Open the below file, then use the <B>next()</B> function with the file object to skip the first line of the file.  Strip and print each line.

In [ ]:
filename = '../student_db.txt'

# open file


# skip the first line of the file (use next())


# loop through file line-by-line


    # strip each line


    # print each line

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">jk43:23 Marfield Lane:Plainview:NY:10024
axe99:315 W. 115th Street, Apt. 11B:New York:NY:10027
jab44:23 Rivington Street, Apt. 3R:New York:NY:10002
ak9:234 Main Street:Philadelphia:PA:08990
ap172:19 Boxer Rd.:New York:NY:10005
jb23:115 Karas Dr.:Jersey City:NJ:07127
jb29:119 Xylon Dr.:Jersey City:NJ:07127</DIV></pre>

Note that the header (<B>id:address:city:state:zip</B>) has been skipped with <B>next()</B>.

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.19:  Review:  loop through a file and split out values.  </B></div>

Continuing the previous exercise, split each line and print the list split from each line.

In [ ]:
filename = '../student_db.txt'

fh = open(filename)

next(fh)  # skip the first line of the file (use next())

for line in fh:

    line = line.rstrip()

    # your code here -- remember that this file is colon-separated

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['jk43', '23 Marfield Lane', 'Plainview', 'NY', '10024']
['axe99', '315 W. 115th Street, Apt. 11B', 'New York', 'NY', '10027']
['jab44', '23 Rivington Street, Apt. 3R', 'New York', 'NY', '10002']
['ak9', '234 Main Street', 'Philadelphia', 'PA', '08990']
['ap172', '19 Boxer Rd.', 'New York', 'NY', '10005']
['jb23', '115 Karas Dr.', 'Jersey City', 'NJ', '07127']
['jb29', '119 Xylon Dr.', 'Jersey City', 'NJ', '07127']</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.20:  Compile a list of values from file lines.    </B></div>

Build a list of student ids (first field) from <B>student\_db.txt</B>.

See comment below for how to skip header.

In [ ]:
filename = '../student_db.txt'

fh = open(filename)

next(fh)             # skip the first line of the file

for line in fh:

    line = line.rstrip()

    items = line.split(':')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['jk43', 'axe99', 'jab44', 'ak9', 'ap172', 'jb23', 'jb29']</DIV></pre>

Note:  don't forget that <B>student\_db.txt</B> is colon-separated.

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.21:  Calculate on average of values from a file.  </B></div>

Show the average value from a list of the float values in file <B>revenue.csv</B>.

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">94.57285714285716</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.22:  Show the top 3 values from the last column in <B>dated\_file.csv</B>.  </B></div>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[28.3, 23.85, 19.09]</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.23:  Show the average of the top 25% of values in <B>dated\_file.csv</B>.  </B></div>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">26.075000000000003</DIV></pre>

TUPLES - LIKE A LIST, BUT READ-ONLY

<B>4.24:  <B><U>Compare a tuple to a list</U>.</B>  </B>

Given the below code which shows several operations that are possible with a list, change the list to a tuple (replace the square brackets with parentheses in the first line) and re-run the code to see what operations may be possible with a tuple.

(Note:  spaces inside {} are included for clarity.)

In [ ]:
myseq = [3, 1, 5, 9, 7, 11]

print(f'the sequence:  {  myseq  }')

print(f'last item:     {  myseq[-1]  }')

print(f'first 3 items: {  myseq[0:3] }')

print(f'last 3 items:  {  myseq[-3:]  }')

print(f'# of items:    {  len(myseq) }')

print(f'maximum value: {  max(myseq) }')

print(f'minimum value: {  min(myseq) }')

print('each item in sequence:')
for item in myseq:
    print(item)
print()

print(f'sorted:        {  sorted(myseq)  }')

print('appending to sequence: ')
myseq.append(99)
print(myseq)

SETS - BUILDING AND READING

<B>4.25:  <B><U>Compare a set to a list</U>.</B>  </B>

Given the below code which shows several operations that are possible with a list, change the list to a set (replace the square brackets with curly braces in the first line) and re-run the code to see what operations may be possible with a tuple.

(Note:  spaces inside {} are included for clarity.)

In [ ]:
myseq = [3, 1, 5, 9, 7, 11]

print(f'the sequence:  {  myseq  }')

print(f'last item:     {  myseq[-1]  }')

print(f'first 3 items: {  myseq[0:3] }')

print(f'last 3 items:  {  myseq[-3:]  }')

print(f'# of items:    {  len(myseq) }')

print(f'maximum value: {  max(myseq) }')

print(f'minimum value: {  min(myseq) }')

print('each item in sequence:')
for item in myseq:
    print(item)
print()

print(f'sorted:        {  sorted(myseq)  }')

print('appending to sequence: ')
myseq.append(99)

SETS - BUILDING FROM FILE

<B>4.26:  <B><U>Initialize a set</U>.</B>  </B>

Initialize a new set of 7-10 string and number values (make sure to include both).  Use .add() to add one new, and one repeat value to the set.  Print the set to see its contents.

After executing, execute several more times, making note if the output changes.

PLEASE NOTE that the order of the printed set is expected to change but that this apparently does not happen in Jupyter.  Run this code in PyCharm or other IDE to see the effect - the set's order changes every time you run the program.

<B>4.27:  <B><U>Check for item membership in a set</U>.</B>  </B>

Check to see if the user's input value is in the set.  If it is print 'found it', otherwise print 'not found'.

In [ ]:
# set of 4 items
x = {'a', 'b', 'c', 'd'}


item = input('check for an item:  ')

# your code here

<B>4.28:  <B><U>Build a set of items from a CSV file</U>.</B>  </B>

Loop through the file <B>revenue.csv</B> and create a set of states drawn from the 2nd column of the file.

In [ ]:
fh = open('../revenue.csv')

states = set()       # the only way to initialize an empty set

for line in fh:
    items = line.split(',')


fh.close()

print(states)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">{'PA', 'NY', 'NJ'}</DIV></pre>

<U>Note</U>:  your set may display in any order.

LAB 3

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.29:  Show a set of unique cities in <B>student\_db.txt</B>.  </B></div>

You can begin by running the below code, which opens the file, advances one line, then loops through each line and splits the line.

In [ ]:
filename = '../student_db.txt'

fh = open(filename)
next(fh)

for line in fh:
    items = line.split(':')
    print(items)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">{'Plainview', 'Philadelphia', 'New York', 'Jersey City'}</DIV></pre>

<U>Note</U>:  don't forget that <B>student\_db.txt</B> is colon-separated, and that you must use <B>next(fh)</B> (where <B>fh</B> is the file object) to skip the header row of this file.

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.30:  Print only those lines of <B>revenue.csv</B> where the state can be found in the set of wanted states.  </B></div>

In [ ]:
wanted = {'NJ', 'PA'}

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Haddad's,PA,239.50
Westfield,NJ,53.90
The Store,NJ,211.50
Awful's,PA,23.95</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.31:  Collect a list of float values from <B>revenue.csv</B> from only those rows where the state can be found in the set of wanted states.  </B></div>

In [ ]:
wanted = {'NY', 'PA'}

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[239.5, 53.9, 211.5, 23.95]</DIV></pre>

"WHOLE FILE" PARSING

<B>4.32:  <B><U>Split a string into lines with .splitlines()</U></B>.  </B>

Perform the operations below.

In [ ]:
# split the below multi-line string into a list of string
# lines (use .splitlines()), and print the lines

text = """this is a line
this is another line
this is another line"""




print()

# read file 'pyku.txt' as a single string using .read()
# split the string into a list of strings lines as in previous
filename = '../pyku.txt'

fh = open(filename)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['this is a line', 'this is another line',
 'this is another line']

["We're out of gouda.", 'This parrot has ceased to be.',
 'Spam, spam, spam, spam, spam.']</DIV></pre>

<B>4.33:  <B><U>Split a file as a list of words</U>.</B>  </B>

Read 'pyku.txt' as a single string; use .split() to split into words.  Print the words.

In [ ]:
filename = '../pyku.txt'

fh = open(filename)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">["We're", 'out', 'of', 'gouda.', 'This', 'parrot', 'has',
 'ceased', 'to', 'be.', 'Spam,', 'spam,', 'spam,', 'spam,',
 'spam.']</DIV></pre>

<B>4.34:  <B><U>Read a file as a list of string lines</U>.</B>  </B>

Read 'revenue.csv' as a list of strings (use .readlines()); print the list.  Then use a list slice to select only the 2nd through last lines of the file - print these as well.

In [ ]:
filename = '../revenue.csv'

fh = open(filename)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">["Haddad's,PA,239.50\n", 'Westfield,NJ,53.90\n',
 'The Store,NJ,211.50\n', "Hipster's,NY,11.98\n",
 'Dothraki Fashions,NY,5.98\n', "Awful's,PA,23.95\n",
 'The Clothiers,NY,115.20\n']

['Westfield,NJ,53.90\n', 'The Store,NJ,211.50\n',
 "Hipster's,NY,11.98\n", 'Dothraki Fashions,NY,5.98\n',
 "Awful's,PA,23.95\n", 'The Clothiers,NY,115.20\n']</DIV></pre>

LAB 4

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.35:  Without looping, print the first and also the last line of <B>pyku.txt</B>.  </B></div>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">We're out of gouda.

Spam, spam, spam, spam, spam.
</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.36:  Without looping, print the first word and also the last word of <B>pyku.txt</B>.  </B></div>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">We're
spam.</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.37:  Without looping, print a slice of the 5th through 10th words of <B>pyku.txt</B>.  </B></div>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['This', 'parrot', 'has', 'ceased', 'to', 'be.']</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.38:  Without looping, show how many words are in the first line of <B>pyku.txt</B>.  </B></div>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">4</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.39:  Without looping, show how many characters are in the first line of <B>pyku.txt</B>.</B></div>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">20</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.40:  Without looping, show how many lines are in <B>pyku.txt</B>.  </B></div>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">3</DIV></pre>