# Project Warmup Exercises, Session 1

PLEASE NOTE:  EXERCISES ARE NOT TO BE TURNED IN.  FOR HOMEWORK TO BE TURNED IN, PLEASE SEE 'PROJECTS'

<B>1.1:  Assign two new integer objects and one float object to three variable names.  Sum up the three variables and assign the resulting object to a new variable name.  Indicate (by printing) the value and type of this resulting object.  </B>

<B>1.2:  Assign two new integer objects to two variable names.  Multiply the two variables and assign the resulting object to a new variable name.  Indicate (by printing) the value and type of this resulting variable's object.  </B>

<B>1.3:  Starting with the sample code, sum up the values to produce the integer value 15.  (Hint:  apply a conversion function to each string so it can be used as a number.)  </B>

In [ ]:
var = '5'
var2 = '10'

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">15</DIV></pre>

<B>1.4:  Take user input for an integer and print that value doubled.</B>

<U>Sample Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Please enter an integer:  5
5 doubled is 10.</DIV></pre>

<B>1.5:  Take user input for a 'place' and then greet the place enthusiastically.  </B>

<U>Sample program runs</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Please enter a place name:  Hawaii
Hello, Hawaii!</DIV></pre>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Please enter a place name:  Kathmandu
Hello, Kathmandu!</DIV></pre>

<B>1.6:  Take user input for an integer and apply that many exclamation points to the phrase, "Hello, world!"  (Hint:  use the "string repetition" operator)</B>

<U>Sample program runs</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Please enter an integer:  2
Hello, World!!</DIV></pre>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Please enter an integer:  11
Hello, World!!!!!!!!!!!</DIV></pre>

<B>1.7:  Assign the float value 35.30 to a variable, then round the value to 35.  </B>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">35</DIV></pre>

<B>1.8:  Assign the float value 35.359958 to a variable, then round the value to two decimal places.  </B>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">35.36</DIV></pre>

<B>1.9:  Starting with the following code (make sure it is included exactly as written), divide the first number by the second number. </B>

In [ ]:
var = "5"
var2 = "4"

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">1.25</DIV></pre>