# In-Class Exercises, Session 7

PLEASE REFER to pythonreference.com for syntax to follow in coding these Exercises

FUNCTION ARGUMENTS AND RETURN VALUES

<B>7.1:  <B><U>Write a function that returns a value</U>.</B>  </B>

Define a demonstration function <B>return\_ten()</B> that returns the value 10.

In [ ]:
def return_ten():

    # your function code here


val = return_ten()

print(val)          # 10

<B>7.2:  <B><U>Write a function with one argument and one return value</U>.</B>  </B>

Define function 'doubleme' that takes one argument, doubles the value, and returns the doubled value.  <U>Note</U>:  you must not use 'a' or 'b' inside the function, and you must not print inside the function -- value must be returned.

In [ ]:
# your function code here

a = 5
x = doubleme(a)
print(x)           # 10

b = 100
y = doubleme(b)
print(y)           # 200

<B>7.3:  <B><U>Write a function with two arguments and two return values</U>.</B>  </B>

Define function 'doubletwo' that takes two numeric arguments, doubles each of them, and returns the two doubled values.  <U>Note</U>:  you must not use 'a' or 'b' inside the function, and you must not print inside the function - values must be returned.

In [ ]:
# your function def here

a = 50
b = 10

c, d = doubletwo(a, b)

print(c)                # 100
print(d)                # 20

<B>7.4:  <B><U>Write a function that returns None, without explicitly returning it</U>.</B>  </B>

Write function <B>greet()</B>, which simply prints 'Hello, world!'.  Printing <B>x</B> should show <B>None</B>.

In [ ]:
# make sure your function does not attempt to return anything



x = greet()
print(x)         # None

<B>7.5:  <B><U>Demonstration:  remove a <B>return</B> statement and note the value</U>.  </B></B>

The below function returns the sum of its arguments.  First run the program and note the printed value, then remove the <B>return</B> statement to see the printed value.

In [ ]:
def get_sum(val1, val2):
    valsum = val1 + val2
    return valsum


r = get_sum(5, 10)
print(r)

LAB 1

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.6:  <B><U>Write a function that returns a value</U>.</B>  </B></div>

Define function 'get\_rand()' that uses the following code to generate a random number between 1 and 10, then returns that number.  <U>Note</U>:  you must not print inside the function -- value must be returned.

In [ ]:
# code to place inside your function:
# randval = random.randint(1, 10)


import random

# your function code here



num = get_rand()

print(num)

If you see <B>None</B> printed, then you did not return anything from the function, but are printing the value returned from the function.  Make sure not to print inside the function.

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.7:  <B><U>Write a function with two arguments and one return value</U>.</B>  </B></div>

Define function <B>get\_sum()</B> that takes two numeric arguments and returns the values summed.  <U>Note</U>:  you must not use 'x' or 'y' inside the function, and you must not print inside the function - value must be returned.

In [ ]:
# your function def here

x = 50
y = 25

z = get_sum(x, y)
print(z)           # 75

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.8:  <B><U>Write a function with two arguments and one return value</U>.</B>  </B></div>

Define function <B>get\_prod()</B> that takes two numeric arguments and returns their values multiplied together.

In [ ]:
# your function def here



aa = 5
bb = 9

c = get_prod(aa, bb)     # int, 45
print(c)                 # 45

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.9:  <B><U>Write a function with one argument and one return value</U>.</B>  </B></div>

Define function <B>get\_upper()</B> that takes a string argument and returns the value uppercased.

In [ ]:
# your function def here



x = 'hello'
y = get_upper(x)         # str, 'HELLO'

print(y)                 # HELLO

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.10:  <B><U>Write a function with one argument and one return value</U>.</B>  </B></div>

Define function <B>get\_split()</B> that takes a string argument for a comma-separated CSV string line and returns a list of values from the split.

In [ ]:
# your function def here



line = 'this,that,other'

items = get_split(line)        # list, ['this', 'that', 'other']

print(items)                   # ['this', 'that', 'other']

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.11:  <B><U>Write a function with one argument and one return value</U>.</B>  </B></div>

Define function <B>get\_first\_item()</B> that takes a string argument for a comma-separated CSV string line and returns just the first comma-separated item from the line.

In [ ]:
# your function def here


line = '2017-09-03,Alpha Corp.'

first = get_first_item(line)      # str, '2017-09-03'

print(first)                      # 2017-09-03

EXCEPTIONS:  RAISE STATEMENT

<B>7.12:  <B><U>Raise an exception</U>.</B>  Test to see if the user's input matches one of the values in the <B>valid\_choices</B> list (use <B>if uchoice not in valid\_choices</B>).  If not, raise a <B>ValueError</B> exception.  </B>

In [ ]:
def validate(uchoice):
    valid_choices = ['buy', 'sell', 'hold']
    if uchoice not in valid_choices:
        " raise a ValueError exception here "

    # return 1, 2 or 3 based on choice
    idx = valid_choices.index(uchoice) + 1

    return idx


choice = input('please enter an action ("buy", "sell", "hold"): ')

index = validate(choice)

print(f'action index is {index}')

<B>7.13:  <B><U>Detect object type and raise TypeError</U>.</B>  Use the <B>isinstance()</B> function to see if the argument to this function is an integer.  If it isn't, raise your own <B>TypeError</B> exception.  </B>

In [ ]:
def doubleit(arg):
    if not isinstance(arg, int):
        # your code here
    return arg * 2

x = doubleit('5')

SET COMPARISONS

<B>7.14:  <B><U>Show items in one set that are not in another set</U>.</B>  Use set.difference().  </B>

In [ ]:
xx = {'a', 'b', 'c', 'd'}
yy = {'b', 'd'}

# your code here

<B>7.15:  <B><U>Show items common between two sets</U>.</B>  Use set.intersection().  </B>

In [ ]:
xx = {'a', 'b', 'c', 'd'}
yy = {'c', 'd', 'e', 'f'}

# your code here

<B>7.16:  <B><U>Show all items that are in either of two sets</U>.</B>  Use set.union().  </B>

In [ ]:
xx = {'a', 'b', 'c', 'd'}
yy = {'c', 'd', 'e', 'f'}

# your code here

LIST COMPREHENSIONS

<B>7.17:  <B><U>Use a list comprehension to modify each item from a list</U>.</B>  </B>

The new list should have each value from the old list doubled.

In [ ]:
x = [1, 2, 3, 4]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[2, 4, 6, 8]</DIV></pre>

<B>7.18:  <B><U>Use a list comprehension to filter items from a list</U>.</B>  The new list should have only those values that are greater than 100.  </B>

In [ ]:
temps = [86, 89, 93, 101, 92, 107, 90, 110]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[101, 107, 110]</DIV></pre>

<B>7.19:  <B><U>Use a list comprehension to both modify and filter items from a list</U>.</B>  The new list should have each value above 0 doubled.  </B>

In [ ]:
aa = [-5, -3, 2, 0, 15, 73, -100]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[4, 30, 146]</DIV></pre>

LAB 2

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.20:  <B><U>Show common items between two sets</U>.</B>  </B></div>

In a single statement, show what is common between the two sets.

In [ ]:
first_round = {'Miller, George', 'Adams, Abdul', 'Feiner, Billy', 'Pollinator, Jim'}

second_round = {'Adams, Abdul', 'Pollinator, Jim', 'Freeman, Kalley', 'Boom, Boom'}

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">{'Adams, Abdul', 'Pollinator, Jim'}</DIV></pre>

(Note that set results may be in any order.)

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.21:  <B><U>Show difference between two sets</U>.</B>  </B></div>

In a single statement, show what is in set <B>first\_round</B> that is not in set <B>second\_round</B>; then show the reverse.

In [ ]:
first_round = {'Miller, George', 'Adams, Abdul', 'Feiner, Billy', 'Pollinator, Jim'}

second_round = {'Adams, Abdul', 'Pollinator, Jim', 'Freeman, Kalley', 'Boom, Boom'}

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">{'Miller, George', 'Feiner, Billy'}
{'Freeman, Kalley', 'Boom, Boom'}</DIV></pre>

(Note that set results may be in any order.)

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.22:  <B><U>Show all values in two sets</U>.</B>  </B></div>

In a single statement, show a complete set of values contained in both sets.

In [ ]:
first_round = {'Miller, George', 'Adams, Abdul', 'Feiner, Billy', 'Pollinator, Jim'}

second_round = {'Adams, Abdul', 'Pollinator, Jim', 'Freeman, Kalley', 'Boom, Boom'}

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">{'Miller, George', 'Adams, Abdul', 'Feiner, Billy', 'Pollinator, Jim',
 'Freeman, Kalley', 'Boom, Boom'}</DIV></pre>

(Note that set results may be in any order.)

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.23:  <B><U>Modify each item in a list using a list comprehension</U>.</B>  </B></div>

Write a list comprehension that uppercases each word in the list.  Print the list.

In [ ]:
x = ["It's", 'important', 'to', 'speak', 'moderately.']

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">["IT'S", 'IMPORTANT', 'TO', 'SPEAK', 'MODERATELY.']</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.24:  <B><U>Modify each item in a list using a list comprehension</U>.</B>  </B></div>

Write a list comprehension that returns the list of numbers showing their percentage value as a whole number (i.e., multiplied by 100).

In [ ]:
pcts = [.353, .4911, .0309, .9998]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[35.3, 49.11, 3.09, 99.98]</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.25:  <B><U>Modify selected items in a list using a list comprehension</U>.</B>  </B></div>

Write a list comprehension that returns the square root of each number greater than 0.  To calculate square root, you can raise to the power of 0.5, or <B>num ** 0.5</B> (where <B>num</B> is the variable holding the number).

In [ ]:
x = [5, 3, -3, 9, -7, 0, 10]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">[2.23606797749979, 1.7320508075688772, 3.0, 3.1622776601683795]</DIV></pre>

Note that there may be small fractional differences on your computer.

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.26:  <B><U>Modify each item in a list using a list comprehension</U>.</B>  </B></div>

Write a list comprehension that returns a list of strings that show each number as a currency value with comma separators (use the <B>f'${num:,}</B> format string, where <B>num</B> is the variable holding the number).  Also round each item to 2 decimal places.

In [ ]:
aa = [35392.7381, 100353.949, 98.2203, 1035392.9942]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['$35,392.74', '$100,353.95', '$98.22', '$1,035,392.99']</DIV></pre>

LIST COMPREHENSIONS:  WORKING WITH FILES

<B>7.27:  <B><U>Use a list comprehension to strip each line of a file</U>.</B>  Reading 'pyku.txt', use a list comprehension to generate a list of lines, each one stripped of the newline.  Print the list as a whole - do not loop through it.  </B>

In [ ]:
fh = open('../pyku.txt')

# your code here - resulting list of strings should
# be each line in 'pyku.txt' without newlines

<B>7.28:  <B><U>Use a list comprehension to derive information about each line of a file</U>.</B>  Looping through 'pyku.txt', generate a new list with integers - the string length of each line in the file.  Print the list.</B>

In [ ]:
fh = open('../pyku.txt')

# your code here

The resulting list of ints should be [20, 30, 30], assuming the lines have not been stripped or divided with splitlines()

<B>7.29:  <B><U>Use a list comprehension to extract a field from each row in a CSV file</U>.</B>  Reading 'revenue.csv', use a list comprehension to generate a list of company names.  Print the list as a whole.  </B>

In [ ]:
fh = open('../revenue.csv')

# your code here

The resulting list of strings should be each company listed in 'revenue.csv'

LAB 3

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.30:  <B><U>Select items from a list using a list comprehension</U>.</B>  </B></div>

Write a list comprehension that returns a list of lines that start with the year '2014'

In [ ]:
lines = [  '2014-03-09,Wilson,Joe,Acme Inc.',
           '2014-08-17,Fink,Bart,Beta LLC',
           '2018-09-03,Emerson,Will,Acme Inc.',
           '2020-12-09,Rodgers,Mary,Gamma Co.',
           '2014-07-01,Jones,Pete,Acme Inc.'
        ]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['2014-03-09,Wilson,Joe,Acme Inc.','2014-08-17,Fink,Bart,Beta LLC',
 '2014-07-01,Jones,Pete,Acme Inc.']</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.31:  <B><U>Modify selected lines from a list using a list comprehension and a compound statement</U>.</B>  </B></div>

Write a list comprehension that returns a list of last names from each line.

In [ ]:
lines = [  '2014-03-09,Wilson,Joe,Acme Inc.',
           '2014-08-17,Fink,Bart,Beta LLC',
           '2018-09-03,Emerson,Will,Acme Inc.',
           '2020-12-09,Rodgers,Mary,Gamma Co.',
           '2014-07-01,Jones,Pete,Acme Inc.'
        ]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['Wilson', 'Fink', 'Emerson', 'Rodgers', 'Jones']</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.32:  <B><U>Select lines from a list using a list comprehension and a compound statement</U>.</B>  </B></div>

Write a list comprehension that returns a list of only 'Acme Inc.' lines.

In [ ]:
lines = [  '2014-03-09,Wilson,Joe,Acme Inc.',
           '2014-08-17,Fink,Bart,Beta LLC',
           '2018-09-03,Emerson,Will,Acme Inc.',
           '2020-12-09,Rodgers,Mary,Gamma Co.',
           '2014-07-01,Jones,Pete,Acme Inc.'
        ]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['2014-03-09,Wilson,Joe,Acme Inc.','2018-09-03,Emerson,Will,Acme Inc.',
'2014-07-01,Jones,Pete,Acme Inc.']</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.33:  <B><U>Modify selected lines from a list using a list comprehension and a compound statement</U>.</B>  </B></div>

Write a list comprehension that returns a list of last names only from 'Acme Inc.' lines.

In [ ]:
lines = [  '2014-03-09,Wilson,Joe,Acme Inc.',
           '2014-08-17,Fink,Bart,Beta LLC',
           '2018-09-03,Emerson,Will,Acme Inc.',
           '2020-12-09,Rodgers,Mary,Gamma Co.',
           '2014-07-01,Jones,Pete,Acme Inc.'
        ]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['Wilson', 'Emerson', 'Jones']</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>7.34:  <B><U>Supreme Challenge!</U>.</B>  </B></div>

Write a list comprehension that returns the list of lines with only the last name uppercased.

(Splitting the line, you can uppercase the first element, make a list out of it, append it to the list of remaining values, and use <B>','.join()</B> with the list to reconstitute the comma-separated values.)

In [ ]:
lines = [  '2014-03-09,Wilson,Joe,Acme Inc.',
           '2014-08-17,Fink,Bart,Beta LLC',
           '2018-09-03,Emerson,Will,Acme Inc.',
           '2020-12-09,Rodgers,Mary,Gamma Co.',
           '2014-07-01,Jones,Pete,Acme Inc.'
        ]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['2014-03-09,WILSON,Joe,Acme Inc.', '2014-08-17,FINK,Bart,Beta LLC',
'2018-09-03,EMERSON,Will,Acme Inc.', '2020-12-09,RODGERS,Mary,Gamma Co.',
'2014-07-01,JONES,Pete,Acme Inc.']</DIV></pre>